<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
<div id="app">
    {{text}}
</div>
<div id="app2">
    <span v-bind:title="text2">鼠标悬停之上</span>
</div>

<div id="app3">
    <p v-if="seen">可以看到吗?</p>
</div>
<div id="app4">
    <ol>
        <li v-for="item in items">{{item.text}}</li>
    </ol>
</div>
<div id="app5">
    <p>{{text3}}</p>
    <button v-on:click="reverseText">逆转文本</button>
</div>
<div id="app6">
    <p>{{text6}}</p>
    <input v-model="text6"> </input>
</div>
<div id="app7">
    <ol>
        <todo-item v-for="item in aa" v-bind:todo="item" v-bind:key="item.id">

        </todo-item>
    </ol>
</div>
<div id="app8">
<p>{{foo}}</p>
    <button v-on:click="foo = 'baz'">Change it</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" ></script>
<script src="vue.js"></script>

</body>
</html>